/* 
    Document   : SnpViewerStyleSheet
    Created on : May 6, 2013, 3:58:03 PM
    Author     : david
    Description:
        Purpose of the stylesheet follows.
*/

.root{ 
    -fx-background-color:
        linear-gradient(#eeeeee 0%, #cdcdcd 25%, #bebfbe 75%, #ffffff 100%),
        linear-gradient(#cdcdcd, #dfdfdf);
}

.anchor-pane{
    -fx-background-color:
        linear-gradient(#eeeeee 0%, #cdcdcd 25%, #bebfbe 75%, #ffffff 100%),
        linear-gradient(#cdcdcd, #dfdfdf);
        
    -fx-border-color: #ffffff;
}
.scroll-pane{
    -fx-background-color:
linear-gradient(#eeeeee 0%, #cdcdcd 25%, #bebfbe 75%, #ffffff 100%),
        linear-gradient(#cdcdcd, #dfdfdf);
-fx-border-color: #ffffff;
}
.titled-pane{
    -fx-background-color:
 linear-gradient(#eeeeee 0%, #cdcdcd 25%, #bebfbe 75%, #ffffff 100%),
        linear-gradient(#cdcdcd, #dfdfdf);
    -fx-border-color: transparent;
}

.pane{
    -fx-background-color:
        linear-gradient(#eeeeee 0%, #cdcdcd 25%, #bebfbe 75%, #ffffff 100%),
        linear-gradient(#cdcdcd, #dfdfdf);
}

.whitepane{
    -fx-background-color: #ffffff
}

.labelpane{
    -fx-background-color: rgba(90%,90%,90%,0.3)
}
.check-box{
    -fx-text-fill: black;
}
.check-box *.box{
    -fx-background-color: white
}
.check-box *.mark{
}



.list-view{
    -fx-background-color:
        linear-gradient(#eeeeee 0%, #cdcdcd 25%, #bebfbe 75%, #ffffff 100%),
        linear-gradient(#cdcdcd, #dfdfdf);
    -fx-text-fill: black
}

.color-picker{
    -fx-background-color:
        linear-gradient(#eeeeee 0%, #cdcdcd 25%, #bebfbe 75%, #ffffff 100%),
        linear-gradient(#cdcdcd, #dfdfdf);
    -fx-text-fill: black
}
.color-picker:hover{
    -fx-background-color: white;
}
.color-picker:hover * .arrow{
    -fx-background-color: white;
    -fx-border-color: black;
}

.choice-box{
    -fx-background-color: #efefef;
    -fx-border-color:#a0a0aa
}

.choice-box:hover{
    -fx-background-color: white;
}

.choice-box:hover * .arrow{
    -fx-background-color: black;
    -fx-border-color: black;
}

.choice-box:focused{
    -fx-border-color:#0093ff;;
}

.button:focused{
    -fx-border-color:#0093ff;;
}

.text-area:focused{
    -fx-border-color:#0093ff;;
}

.text-field:focused{
    -fx-border-color:#0093ff;;
}

.context-menu {
-fx-background-color:
        linear-gradient(#eeeeee 0%, #cdcdcd 25%, #bebfbe 75%, #ffffff 100%),
        linear-gradient(#cdcdcd, #dfdfdf);
}
#choice-box-menu-item:hover {
}

.menu-bar {
    -fx-background-color: #f7f7f7;
    -fx-text-fill: black;
    -fx-border-color: transparent
}

.menu .label
{
    -fx-text-fill: black;
}

.radio-menu-item:checked *.radio{
    -fx-background-color: black;
}
.FlowPane{
    -fx-background-color:
        linear-gradient(#eeeeee 0%, #cdcdcd 25%, #bebfbe 75%, #ffffff 100%),
        linear-gradient(#cdcdcd, #dfdfdf);
}
.combo-box{
    -fx-background-color:
        linear-gradient(#eeeeee 0%, #cdcdcd 25%, #bebfbe 75%, #ffffff 100%),
        linear-gradient(#cdcdcd, #dfdfdf);
}



.label{
}

.text-field{
    -fx-background-color: #efefef;
    -fx-border-color:#a0a0aa
}

.text-area{
    -fx-background-color: #efefef;
    -fx-border-color:#a0a0aa
}

.button{
    -fx-background-color: linear-gradient(#EEEEFF, #CCCCCC);
    -fx-text-fill: black;
}

.button:pressed{
    -fx-background-color: linear-gradient(#CCCCFF, #FFFFFF);
    -fx-text-fill: black;

}
.button:hover{
    -fx-background-color: linear-gradient(#CCCCDD, #AAAAAA);
    -fx-text-fill: black;
}
.button:default{
    -fx-background-color: linear-gradient(#CCCCDD, #999999);    
    -fx-text-fill: black;
}
.button:default:hover{
    -fx-background-color: #BBBBCC, #AAAAAA;    
    -fx-text-fill: black;
}
.button:default:pressed{
    -fx-background-color: linear-gradient(#CCCCFF, #FFFFFF);    
    -fx-text-fill: black;
}

.tab-pane{
    -fx-background-color:
        linear-gradient(#eeeeee 0%, #cdcdcd 25%, #bebfbe 75%, #ffffff 100%),
        linear-gradient(#cdcdcd, #dfdfdf);
    -fx-border-color: transparent
}

.tab:selected {
    -fx-background-color: #dedede;
    -fx-border-color: #a0a0aa
}
.tab {
    -fx-border-insets: 0;
    -fx-background-color: #efefef;
    -fx-border-color:#a0a0aa;
}

.tab-content-area {
    -fx-background-color: #f7f7f7;
    -fx-border-color: transparent;
    
}

.tab *.tab-label {
}
.tab-header-background{
    -fx-background-color:fafafa;
    -fx-border-color: transparent;
    -fx-background-radius: 0 0 0 0;
}

.table-view{
}
.table-row-cell:odd{
}
.table-row-cell:even{
}

.table-cell{
}
.column-header-background{
}

.progress-bar{
    
}

.scroll-bar{
    -fx-background-color:
        linear-gradient(#eeeeee 0%, #cdcdcd 25%, #bebfbe 75%, #ffffff 100%),
        linear-gradient(#cdcdcd, #dfdfdf);
    -fx-border-color: #000000;
}

.scroll-bar *.track{
    -fx-background-color: white
}

.scroll-bar *.thumb{
    -fx-background-color:
        linear-gradient(#eeeeee 0%, #cdcdcd 25%, #bebfbe 75%, #ffffff 100%),
        linear-gradient(#cdcdcd, #dfdfdf);
    -fx-border-color: transparent;
    -fx-background-radius: 5px;
    -fx-background-insets: 3;
}

.scroll-bar *.decrement-button{
    -fx-background-color: white
}

.scroll-bar *.increment-button{
    -fx-background-color: white
}

.scroll-bar *.decrement-button *.decrement-arrow{
    -fx-background-color: black
}

.scroll-bar *.increment-button *.increment-arrow{
    -fx-background-color: black
}

.corner{
    -fx-background-color: white
}

.titled-pane *.title {
   -fx-background-color:
        linear-gradient(#eeeeee 0%, #cdcdcd 25%, #bebfbe 75%, #ffffff 100%),
        linear-gradient(#cdcdcd, #dfdfdf);
  
    
}
.tooltip{
        
}

.progress-indicator .percentage {
    -fx-fill: null;
}