Package: autoprimer3
Version: 3.0.0
Section: Science
Maintainer: David A. Parry <d.a.parry@leeds.ac.uk>
Priority: optional
Architecture: amd64
Provides: AutoPrimer3
Description: AutoPrimer3
Installed-Size: 186478
